@import '../../styles/tokens.css';

.wrapper {
  width: 100%;
  padding: 6px 10px;
  box-sizing: border-box;
}

.line {
  border: none;
  border-top: 1px solid var(--color-neutral-200);
  margin: 0;
  width: 100%;
}
